# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e5c4c7ddfaddf3322cef406b333dfcd3"
name = "GD PriceUpdator Pro"
application_url = "https://gd-priceupdator-pro.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products, read_discounts, write_discounts"

[auth]
redirect_urls = [
    "https://gd-priceupdator-pro.onrender.com/auth/callback",
    "https://gd-priceupdator-pro.onrender.com/auth/shopify/callback",
    "https://gd-priceupdator-pro.onrender.com/api/auth/callback"
]
